@media screen and (max-width: 1150px){
    
    
    .process{
        display:flex;
        flex-direction: column-reverse;
        margin-top: 150px;   
    }
    .processInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 500px;
        text-align: center;
        width: 75%;
        margin:auto;
        padding: 0 0;
        align-items: center;
    }

    .process > img{
        height: 500px;
        width: auto;
    }

    .process button{
        margin: 10px auto;
    }

    .shopItems{
        width: 100%;
        row-gap: 20px;
    }

    .card{
        height: 415px;
    }


    
}

@media screen  and (max-width: 990px){

    h1{
        font-size: 15rem ;
    }

    h2{
        font-size: 2.5rem;
        margin-top: 15px;

    }

    

}


@media screen and (max-width: 740px ) {

    h1{
        font-size: 12rem ;
    }
    
}


@media screen and (max-width: 640px){
    .process > img {
        width: 450px;
        height: auto;
    }

    h3{
        font-size: 4rem;
    }
    
}

@media  screen and (max-width: 595px) {
    h1{
        font-size: 8rem;
        
    }
    h2{
        font-size: 2.5rem;
        margin-top: 30px;

    }

    .nav-buttons{
        display: none;
    }

    .hamburger{
        display:inline-block;
    }
}

@media screen and (max-width: 390px){
    h1{
        font-size: 6rem ;
    }

    h2{
        font-size: 2rem;
        margin-top: 30px;

    }

    h3{
        font-size: 4rem;
    }

    .process > img {
        width: 325px;
        height: auto;
    }

    p{
        font-size: 1.2rem;
    }


}




    

    



        
        

    
